{% extends 'recruit/base.html' %}

{% load i18n %}
{% load humanize %}

{% block details %}
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">{% translate "Headline" %}</div>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <form method="GET" id="user_id_selection">
                    <select id="selected_user_id" name="selected_user_id" class="form-select" onchange="this.form.submit()">
                        {% if main_characters %}
                            {% for user_id, character_name in main_characters %}
                                <option value="{{ user_id }}" {% if user_id == selected_user_id %} selected{% endif %}>
                                    {{ character_name }}
                                </option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected disabled>{% translate "No character ownerships available" %}</option>
                        {% endif %}
                    </select>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
