{% extends 'recruit/base.html' %}

{% load i18n %}
{% load humanize %}

{% block details %}
    <div class="card card-primary">
        <div class="card-body">
            <div class="mb-3">
                <form method="GET" id="user_id_selection">
                    <select id="selected_username" name="selected_username" class="form-select" onchange="this.form.submit()">
                        {% if main_characters %}
                            {% for user_id, character_name in main_characters %}
                                <option value="{{ user_id }}" {% if user_id == selected_username %} selected{% endif %}>
                                    {{ character_name }}
                                </option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected disabled>{% translate "No character ownerships available" %}</option>
                        {% endif %}
                    </select>
                </form>
                {% if blacklist_url %}<a href="{{ blacklist_url }}" target="_blank">GICE Blacklist</a>{% endif %}
                <br />
                {% if eve411_url %}<a href="{{ eve411_url }}" target="_blank">EVE411</a>{% endif %}
                <table class="simple">
                    <tr>
                        <td>{% translate "Character Name" %}</td>
                        <td>{% translate "Total SP" %}</td>
                        <td>{% translate "Wallet ISK" %}</td>
                        <td>{% translate "Asset ISK" %}</td>
                    </tr>
                    {% for character in user_characters %}
                        <tr>
                            <td><a href="https://evewho.com/character/{{character.id}}" target="_blank">{{character.name}}</a></td>
                            <td>{{character.total_sp|intcomma}}</td>
                            <td>{{character.wallet_isk|floatformat:"2g"}}</td>
                            <td>{{character.asset_value|floatformat:"2g"}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h3 class="mt-4">{% translate "Character Events" %}</h3>
                <details open>
                    {% if character_grouped_events %}
                        {% for other_character, character_events in character_grouped_events %}
                            <hr/>
                            <h4 class="mt-3"><a href="https://evewho.com/character/{{other_character.id}}">{{other_character.name}}</a> ({{character_events|length}})</h4>
                            {% for event in character_events %}
                                {% if event.details %}
                                    <details class="event">
                                        <summary>
                                            {% if event.timestamp %}{{ event.timestamp|date:"Y-m-d H:i" }} | {% endif %}
                                            {% if event.summary %}{{ event.summary }}{% endif %}
                                            {% if event.isk_value != None %} | {{ event.isk_value|floatformat:"2g" }} ISK{% endif %}
                                        </summary>
                                        {% autoescape off %}{{ event.details|linebreaks }}{% endautoescape %}
                                    </details>
                                {% else %}
                                    <div class="event">
                                        {% if event.timestamp %}{{ event.timestamp|date:"Y-m-d H:i" }} | {% endif %}
                                        {{ event.recruit_name }}
                                        {% if event.isk_value != None %} | {{ event.isk_value|floatformat:"2g" }} ISK{% endif %}
                                        {% if event.summary %} | {{ event.summary }}{% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">{% translate "No events available." %}</p>
                    {% endif %}
                </details>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
<style>
    table.simple th, td {
        border: 1px solid black;
    }
    .event {
        margin-top: 1px;
        margin-left: 10px;
        border-bottom: 1px solid black;
        padding-left: 2px;
    }
</style>
{% endblock %}

{% block extra_script %}
{% endblock %}
