{% extends 'recruit/base.html' %}

{% load i18n %}
{% load humanize %}

{% block details %}
    <div class="card card-primary">
        <div class="card-body">
            <div class="mb-3">
                <form method="GET" id="user_id_selection">
                    <select id="selected_username" name="selected_username" class="form-select" onchange="this.form.submit()">
                        {% if main_characters %}
                            {% for user_id, character_name, state_name in main_characters %}
                                <option value="{{ user_id }}" {% if user_id == selected_username %} selected{% endif %}>
                                    {{ character_name }} ({{ state_name }})
                                </option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected disabled>{% translate "No character ownerships available" %}</option>
                        {% endif %}
                    </select>
                </form>
                {% if blacklist_url %}<a href="{{ blacklist_url }}" target="_blank">GICE Blacklist</a>{% endif %}
                <br />
                {% if eve411_url %}<a href="{{ eve411_url }}" target="_blank">EVE411</a>{% endif %}
                <table class="simple">
                    <tr>
                        <td>{% translate "Character Name" %}</td>
                        <td>{% translate "Corp" %}</td>
                        <td>{% translate "Alliance" %}</td>
                        <td>{% translate "Total SP" %}</td>
                        <td>{% translate "Wallet ISK" %}</td>
                        <td>{% translate "Asset ISK" %}</td>
                    </tr>
                    {% for character in user_characters %}
                        <tr>
                            <td><a href="https://evewho.com/character/{{character.id}}" target="_blank">{{character.name}}</a></td>
                            <td>
                                {% if character.corporation_id %}
                                    <a href="https://evewho.com/corporation/{{ character.corporation_id }}" target="_blank"><img src="https://images.evetech.net/corporations/{{ character.corporation_id }}/logo?size=32" alt="{{ character.corporation_name }}" title="{{ character.corporation_name }}" width="32" height="32"></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if character.alliance_id %}
                                    <a href="https://evewho.com/alliance/{{ character.alliance_id }}" target="_blank"><img src="https://images.evetech.net/alliances/{{ character.alliance_id }}/logo?size=32" alt="{{ character.alliance_name }}" title="{{ character.alliance_name }}" width="32" height="32"></a>
                                {% endif %}
                            </td>
                            <td class="text-end">{{character.total_sp|intcomma}}</td>
                            <td class="text-end">{{ character.wallet_isk|intword }}</td>
                            <td class="text-end">{{ character.asset_value|intword }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h3 class="mt-4">{% translate "Character Events" %}</h3>
                <details closed>
                    {% if character_grouped_events %}
                        <summary>{% translate "Character Grouped Events" %}</summary>
                        {% for other_character, character_events in character_grouped_events %}
                            <hr/>
                            <h4 class="mt-3">
                                <a href="https://evewho.com/character/{{other_character.id}}">{{other_character.name}}</a>
                                {% if other_character.corporation %}
                                    <a href="https://evewho.com/corporation/{{ other_character.corporation.id }}" target="_blank"><img src="https://images.evetech.net/corporations/{{ other_character.corporation.id }}/logo?size=32" alt="{{ other_character.corporation.name }}" title="{{ other_character.corporation.name }}" width="32" height="32"></a>
                                {% endif %}
                                {% if other_character.alliance %}
                                    <a href="https://evewho.com/alliance/{{ other_character.alliance.id }}" target="_blank"><img src="https://images.evetech.net/alliances/{{ other_character.alliance.id }}/logo?size=32" alt="{{ other_character.alliance.name }}" title="{{ other_character.alliance.name }}" width="32" height="32"></a>
                                {% endif %}
                                ({{character_events|length}})
                            </h4>
                            {% for event in character_events %}
                                {% if event.details %}
                                    <details class="event">
                                        <summary>
                                            {% if event.timestamp %}{{ event.timestamp|date:"Y-m-d H:i" }} | {% endif %}
                                            {{ event.recruit.name }}
                                            {% if event.summary %}{{ event.summary }}{% endif %}
                                            {% if event.isk_value != None %} | {{ event.isk_value|intword }} ISK{% endif %}
                                        </summary>
                                        {% autoescape off %}{{ event.details|linebreaks }}{% endautoescape %}
                                    </details>
                                {% else %}
                                    <div class="event">
                                        {% if event.timestamp %}{{ event.timestamp|date:"Y-m-d H:i" }} | {% endif %}
                                        {{ event.recruit.name }}
                                        {% if event.isk_value != None %} | {{ event.isk_value|intword }} ISK{% endif %}
                                        {% if event.summary %} | {{ event.summary }}{% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">{% translate "No events available." %}</p>
                    {% endif %}
                </details>
                {% if region_grouped_information %}
                    <details open><summary>Location Grouped Information</summary>
                        {% for region, constellation_grouped_information in region_grouped_information.items %}
                            <details closed class="region"><summary><a href="{{ region.profile_url }}">{{ region.name }}</a></summary>
                            {% for constellation, system_grouped_information in constellation_grouped_information.items %}
                                <details open class="constellation"><summary>{{ constellation.name }}</summary>
                                {% for system, system_information in system_grouped_information.items %}
                                    <details open class="system">
                                        <summary><a href="{{ system.profile_url }}">({{system.security_status|floatformat:2}}) {{ system.name }}</a></summary>
                                        {% if system_information.system_interactions.mining_ledger %}
                                            <details closed>
                                                <summary>Mining Ledger Entries: {{ system_information.system_interactions.mining_ledger|length }}</summary>
                                                {% for interaction in system_information.system_interactions.mining_ledger %}
                                                    <div>{{ interaction.summary }}</div>
                                                {% endfor %}
                                            </details>
                                        {% endif %}
                                        {%  if system_information.system_interactions.planet %}
                                            <details closed>
                                                <summary>PI Planets: {{ system_information.system_interactions.planet|length }}</summary>
                                                {% for interaction in system_information.system_interactions.planet %}
                                                    <div>{{ interaction.summary }}</div>
                                                {% endfor %}
                                            </details>
                                        {% endif %}
                                        {% for interaction in system_information.system_interactions.character_in_space %}
                                            <div>{{ interaction.summary }}</div>
                                        {% endfor %}
                                        {% for location, location_information in system_information.location_interactions.items %}
                                            <details open class="location">
                                                <summary>{{ location.name_plus }}{% if location.owner %} | {{ location.owner.name }}{% endif %}</summary>
                                                {% if location_information.clone or location_information.jump_clone or location_information.clone_home %}
                                                    <div>Clones:</div>
                                                    <ul>
                                                        {% for interaction in location_information.clone_home %}
                                                            <li>
                                                                {{ interaction.summary }}
                                                            </li>
                                                        {% endfor %}
                                                        {% for interaction in location_information.clone %}
                                                            <li>
                                                                {{ interaction.summary }}
                                                                {% if location.is_solar_system %}in space.{% endif %}
                                                                <ul>
                                                                    {% for implant in interaction.eve_types %}
                                                                        <li><a href="{{ implant.profile_url }}" target="_blank">{{ implant.name }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                        {% for interaction in location_information.jump_clone %}
                                                            <li>
                                                                {{ interaction.summary }}
                                                                <ul>
                                                                    {% for implant in interaction.eve_types %}
                                                                        <li><a href="{{ implant.profile_url }}" target="_blank">{{ implant.name }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                {% if location_information.wallet_transaction %}
                                                    <details closed>
                                                        <summary>Transactions: {{ location_information.wallet_transaction|length }}</summary>
                                                        {% for interaction in location_information.wallet_transaction %}
                                                            <div>
                                                                {% if interaction.timestamp %}{{ interaction.timestamp|date:"Y-m-d H:i" }} | {% endif %}
                                                                {{ interaction.recruit.name }}
                                                                {% if interaction.summary %} | {{ interaction.summary }}{% endif %}
                                                                {% if interaction.isk_value != None %} | {{ interaction.isk_value|intword }} ISK{% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </details>
                                                {% endif %}
                                                {% if location_information.contract %}
                                                    <details closed>
                                                        <summary>Contracts: {{ location_information.contract|length }}</summary>
                                                        {% for interaction in location_information.contract %}
                                                            <details class="event">
                                                                <summary>
                                                                    {% if interaction.timestamp %}{{ interaction.timestamp|date:"Y-m-d H:i" }} | {% endif %}
                                                                    {{ interaction.recruit.name }}
                                                                    {% if interaction.summary %} | {{ interaction.summary }}{% endif %}
                                                                    {% if interaction.isk_value != None %} | {{ interaction.isk_value|intword }} ISK{% endif %}
                                                                </summary>
                                                                {% autoescape off %}{{ interaction.details|linebreaks }}{% endautoescape %}
                                                            </details>
                                                        {% endfor %}
                                                    </details>
                                                {% endif %}
                                                {% if location_information.asset %}
                                                    <details closed>
                                                        <summary>Assets: {{ location_information.asset|length }} | {{ location_information.asset_total_value|intword }} ISK Total</summary>
                                                        {% for interaction in location_information.asset %}
                                                            <div>{{ interaction.recruit.name }} | {{ interaction.summary }} | {{ interaction.isk_value|intword }} ISK Total</div>
                                                        {% endfor %}
                                                    </details>
                                                {% endif %}
                                            </details>
                                        {% endfor %}
                                    </details>
                                {% endfor %}
                                </details>
                            {% endfor %}
                            </details>
                        {% endfor %}
                    </details>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
<style>
    table.simple th, td {
        border: 1px solid black;
    }
    details {
        margin-top: 0.5rem;
    }
    details[open] > :not(summary):not(ul):not(ol) {
        margin-left: 1rem;
        padding-left: 0.5rem;
        border-left: 1px solid black;
    }
    details[open] > ul,
    details[open] > ol {
        margin-left: 1rem;
        padding-left: 0.5rem;
        border-left: 1px solid black;
        list-style-position: inside;
    }
    .event {
        margin-top: 0.25rem;
    }
</style>
{% endblock %}

{% block extra_script %}
{% endblock %}
